/* Style the baseline document look */
body { 
  text-align: justify;
  font-family: monospace;
  background-color: #FFFFFF;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Style the footer */
.footer_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  height: 32px;
}

hr {
  border: 1px solid #D98560;
}


/* Style the header section */
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DFAC8D;
  height: 100px;
  padding-left: 32px;
  padding-right: 32px;
}

#user_icon {
  padding-right: 20px;
  font-size: 30px;
}

#cart_icon {
  font-size: 30px;
}

#search_bar {
  font-family: sans-serif;
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 12px;
  width: 300px;
  height: 14px;
  border: none;
  border-radius: 2px;
}


/* Style the top navigation */
.topnav {
  background-color: white;
  color: black;
  overflow: hidden;
  padding-left: 4px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 17px;
}


/* Style select buttons*/
select {
  font-family: sans-serif;
  width: 200px;
  border: 1px solid #E2E8F0;
  border-radius: 2px;
  padding: 0.5em 0.5em;
  font-size: 12px;
  cursor: pointer;
  line-height: 1.5;
  color: #767676;
}




/* Style the question form section */
fieldset {
  border: none;
}

.question_form {
  background-color: #A2A183;
  color: #FFFFFF; 
}

.questions {
  text-align: left;
  padding-top: 16px;
  padding-right: 32px;
}

#nameId {
  font-family: sans-serif;
  border: 1px solid #E2E8F0;
  border-radius: 2px;
  padding: 0.5em 0.5em;
  font-size: 12px;
  line-height: 1.5;
  width: 185px;
}

#noshow, #submit_button {
  float: right;
  padding-right: 32px;
}

#info_icon {
 font-size: 12px;
}


#catdog {
  float: left;
  height: 487px;
  width: 565px;
  padding-right: 20px;
  padding-left: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}



/* Style the CTA buttons */
#back_button, #cat_button, #dog_button, #submit_button, #add_cart_button{
  color: #FFFFFF;
  padding: 12px 24px;
  background-color: #686230;
  border: none;
  border-radius: 2px;
  font-family: monospace;
}

/* Back to Top Button */
#backtop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 42px;
  padding-bottom: 86px;
}


/* Style the Customers Reviews Section */
.shop_cat, .shop_dog {
  padding-top: 42px;
}

.quote, .customer {
  color: #D98560;
}

td {
  text-align: center;
}

.quote {
  font-size: 60px;
}

#cat_button, #dog_button {
  margin-left: 12.3%;
}

table {
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* Style the shop by category navigation section on product browsing pages */
.dog_category{
  background-color: #8D4C2E;
  color: white;
}

.within_page_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.round_button {
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

#dog_pic {
  float: left;
  padding-right: 20px;
  padding-left: 0;
}

/* Style the product browsing page margin */
.products, .navpath {
  margin: 32px;
}

.navpath {
  font-family: sans-serif;
  font-size: 16px;
}


/* Style the product images, descriptions, prices */
.products h1 {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 46px;
}

.products p {
  font-size: 16px;
  margin: 0;
  color: #8D4C2E;
  padding-bottom: 24px;
}

.products h2 {
  margin: 0;
  font-size: 24px;
}


.dog_product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
}

.single_product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dog_product img {
  width: 337px;
  height: 238px;
  padding-bottom: 10px
}

.single_product_text {
  color: black;
  font-size: 16px;
}

.single_product_price {
  color: #D98560;
  font-size: 16px;
}


/* Style the product details */
.product_detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 24px;
  padding-bottom: 10px;
}

.product_img img {
  width: 752px;
  height: 647px;
}

.product_properties {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 80px;
  gap: 47px;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.size label, .color label {
  font-size: 16px;
}

.product_descript p {
  color: black;
}

.product_descript h3 {
  font-size: 20px;
}

#spin_button {
  font-weight: bold;
  border: 1px solid #E2E8F0;
  padding: 12px 10px;
}
